.services-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}
@media(max-width: 768px){
    .services-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        text-align: center;
    } 
}

.whole-hotel-service{
    display: flex;
    justify-content: center;
    align-items: center;
}
.single-service h2{
    font-size: 20px;
    padding: 10px 0;
    font-weight: bold;
    color: rgb(41, 3, 77);
}
.single-service h4{
    font-size: 18px;
    padding: 5px 0;
    font-weight: bold;
    color: rgb(8, 3, 12);
}
.single-service h6{
    color: rgb(85, 75, 75);
}
.service-details{
    padding:40px 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    background-color: rgb(209, 235, 235);
  
}
.service-details p{
    font-size: 16px;
}
.cart{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
     rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
     padding: 80px 20px;
}
.cart h1 {
    font-size: 22px;
    font-weight: bold;
    color:deeppink;
    margin-bottom: 10px;
}
.cart p {
    font-size:14px;
    font-weight: bold;
    color:rgb(58, 58, 58)
}
.cart h5 {
    color: #555;
    font-size: 16px;
}
.order {
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 10px 30px;
    margin-top: 20px;
    background-color: dimgrey;
    color: gainsboro;
    font-weight: bold;
}